<!-- main app container -->

<!--<nav class='navbar navbar-sticky-top navbar-dark bg-inverse'>-->
<nav class='navbar navbar-default navbar-fixed-top'>
    <a href="#" class="navbar-left"><img style=height:60px src="../logo.png"></a>
    <ul class="nav navbar-nav">
        <li><a href="#" [routerLink]="['/findTutor']">Find Tutor</a>
        <li><a href="#" [routerLink]="['/login']">Login</a>
    </ul>
    <!--<ul class='nav navbar-nav pull-xs-right'>
    
    </ul>-->
</nav>
    
<router-outlet></router-outlet>

