<div class="container">
    <nav class='navbar navbar-default navbar-fixed-top'>
        <a href="#" [routerLink]="['/home']" class="navbar-left"><img style=height:50px src="../logo.png"></a>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/findTutor']">Find Tutor</a>
            <li><a href="#" [routerLink]="['/login']">View Sessions</a>
            <li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#fff;"> My Account <span class="caret"></span></a>
					<ul class="dropdown-menu" id="nav-dropdown" role="menu">
						<li><a (click)="navToEdit(restaurant.id)"> Edit Profile </a></li>
						<li><a (click)= "navToUpload(restaurant.id)">Upload </a></li>
						<li class="divider"></li>
						<li><a routerLink="/" >Sign Out</a></li>
					</ul>
			</li>
        </ul>
    </nav>

    <h2 style="margin-top: 100px"> Update Your Tutor Profile</h2>

    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" name="form">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" name="fname"/>
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" name="lname"/>
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"/>
                <label for="bio">Bio</label>
                <textarea class="form-control" name="bio"></textarea>
                <label for="high_school">High School</label>
                <input type="text" class="form-control" name="high_school"/>
                <label for="photo">Image Path</label>
                <input type="text" class="form-control" name="photo" />
            </div>
            <div class="form-group">
                <a class="btn btn-primary"
                    href="javascript:void(0);" [routerLink]="['/tutor/' +1+'/viewProfile']" >
                    Save
                </a>
                <a class="btn btn-primary" [routerLink]="['/tutor/' +1+'/viewProfile']">Cancel</a> 
            </div>
        </form>
    </div>
</div>