.btn{
    background-color: gray;
    border: none;
    margin-top: 10px;
}


div{
    text-align: center;
}

p{
    color: gray;
}

.navbar a{
    font-size: 100%;
    background: transparent;
}

.form-group{
    width: 50%;
    margin: 0 auto;
}


nav{
    background-color:  #13a4f2;
    color: white;
    border: none;
}
nav a {
    color: white; 
    vertical-align: middle;
}
nav img{
    margin: 8pt;
}
nav li {
    padding-top: 10pt;
}