<!-- main app container -->

<nav class='navbar navbar-default navbar-fixed-top'>
    <a href="#" [routerLink]="['/home']" class="navbar-left"><img style=height:50px src="../logo.png"></a>
    <ul class="nav navbar-nav">
        <li><a href="#" [routerLink]="['/findTutor']">Find Tutor</a>
        <li><a href="#" [routerLink]="['/login']">Login</a>
    </ul>
</nav>
    
<div class="jumbotron">
    <div class="container">
        <div class="bg"></div>
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
