<nav class='navbar navbar-default navbar-fixed-top'>
    <a href="#" [routerLink]="['/home']" class="navbar-left"><img style=height:50px src="../logo.png"></a>
    <ul class="nav navbar-nav">
        <li><a [routerLink]="['/findstudent']">Find Tutor</a>
        <li><a href="#" [routerLink]="['/login']">View Sessions</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Manage My Account <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a [routerLink] = "['/tutor/editProfile']">Update Profile</a></li>
                       <li><a>Change Password</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a (click) = "logout()">Logout</a></li>
                   </ul>
           </li>
    </ul>
</nav>

<div class="panel panel-default" *ngIf="student">
   <img style="margin-top: 30px; border-radius: 50%" src="../blank.png">

   <h2> {{student.first_name}} {{student.last_name}} </h2>
   <div class="student_info">
        <p> "{{student.bio}}" </p>
        <p>
            <b>Student at</b> {{student.high_school}} <b>graduating </b> in {{student.graduation_year}}
        </p>
        <p>
            <a href="javascript:void(0);" [routerLink] = "['/student/editProfile']" class="btn btn-primary">Edit Your Profile</a>
        </p>
   </div>
</div>