<div class="container" >
   <nav class='navbar navbar-default navbar-fixed-top'>
       <a href="#" [routerLink]="['/home']" class="navbar-left"><img style=height:50px src="../logo.png"></a>
       <ul class="nav navbar-nav">
           <li><a [routerLink]="['/findTutor']">Find Tutor</a>
           <li><a href="#" [routerLink]="['/login']">View Sessions</a>
       </ul>
       <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Manage My Account <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a [routerLink] = "['/tutor/editProfile']">Update Profile</a></li>
                       <li><a>Change Password</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a (click) = "logout()">Logout</a></li>
                   </ul>
           </li>
        </ul>
   </nav>

<div class="panel panel-default" *ngIf="tutor">
   <img style="margin-top: 30px; border-radius: 50%" src="../blank.png">

   <h2> {{tutor.first_name}} {{tutor.last_name}} </h2>
   <div class="tutor_info">
        <p> "{{tutor.bio}}" </p>

        <div>
            <h4>Courses taught</h4>
                <ul><li *ngFor="let course of courses">
                    {{course.course_name}}
                </li></ul>
        </div>
        <p>
            <b>Graduated from</b> {{tutor.past_high_school}}
        </p>
        <p>
            <a href="javascript:void(0);" [routerLink] = "['/tutor/editProfile']" class="btn btn-primary">Edit Your Profile</a>
            <a (click)="editCourses()" class="btn btn-primary">Edit Your Courses</a>
        </p>
   </div>
</div>
</div>


