.btn{
    background-color: gray;
    border: none
}
div{
    text-align: center;
}
nav{
    background-color: white;
}
p{
    color: gray;
}

.navbar a{
    font-size: 100%;
    background: transparent;
}

.form-control{
    width: 25%;
    margin: 0 auto;
}
