<header>
  <div class="jumbotron jumbotron-fluid" id="banner">
              
    <div class="parallax text-center" style="background-image: url(http://res.cloudinary.com/dibriplrr/image/upload/v1491507718/tutfinal_ey0qri.png);">
      <div class="parallax-pattern-overlay" >
        <div class="container text-center" id="size-banner">
          <a href="https://github.com/victoriavo/DatabaseConcepts" class="btn btn-primary-outline btn-banner b1">View Tutors</a>
          <a href="https://github.com/victoriavo/DatabaseConcepts" class="btn btn-primary-outline btn-banner b2">Sign Up</a>
          <a href="https://github.com/victoriavo/DatabaseConcepts" class="btn btn-primary-outline btn-banner b3">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="footer" id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <p>
         
        </p>
        <br>
      </div>
    </div>
  </div>
</section>
<body>
  <div class="logo" style="background-image: url(http://res.cloudinary.com/dibriplrr/image/upload/v1491506752/Screen_Shot_2017-04-06_at_1.09.23_PM_cbevp6.png);">
  </div>
</body>
