
  <nav class='navbar navbar-default navbar-fixed-top'>
      <a href="#" [routerLink]="['/home']" class="navbar-left"><img style=height:50px src="../logo.png"></a>
      <ul class="nav navbar-nav">
          <li><a [routerLink]="['/findTutor']">Find Tutor</a>
          <li><a href="#" [routerLink]="['/login']">View Sessions</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Manage My Account <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a [routerLink] = "['/tutor/editProfile']">Update Profile</a></li>
                       <li><a>Change Password</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a (click) = "logout()">Logout</a></li>
                   </ul>
           </li>
        </ul>
  </nav>

<div class="container">
  <h2>Welcome Back!{{currentUser?.firstName}}</h2>
  <p>
    <a class="btn btn-primary" [routerLink]="['/student/viewProfile']">View Your Profile</a> 
    <a class="btn btn-primary" (click) = "logout()">Logout</a>
  </p>
</div>
