.container{
    margin-top: 50px;
    text-align: center; 
}


.btn{
    background-color: gray;
    border: none
}


nav{
    background-color:  #13a4f2;
    color: white;
    border: none;
}
nav a {
    color: white; 
    vertical-align: middle;
}
nav img{
    margin: 8pt;
}
nav li {
    padding-top: 10pt;
}

